<p>This Is Main Component</p>

<div style="padding: 20px">
<!-- <section>
<app-dynamic-form [schema]="userRegistrationSchema" (submitted)="onFormSubmit($event)"></app-dynamic-form>
</section> -->


<hr />


<!-- <section style="margin-top: 20px;">
<app-dynamic-form [schema]="feedbackSchema" (submitted)="onFormSubmit($event)"></app-dynamic-form>
</section> -->


<hr />


<!-- <section *ngIf="lastOutput" style="margin-top: 20px;">
<h3>Last submitted JSON</h3>
<pre>{{ lastOutput | json }}</pre>
</section> -->
</div>